/vendor
/node_modules
/public/assets/bootstrap
/public/assets/bootstrap-datepicker
/public/assets/font-awesome
/public/assets/ionicons
/public/assets/theme
/public/vendor/*
.idea
Homestead.yaml
Homestead.json
.env